.hero {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/166/original/cover3.jpg?1722778520);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

body {
  font-family: "Abhaya Libre", serif;
}

.hero h1 {
  font-size: 112px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-size: 24px;
}

.btn-branding-outline {
  background-color: #5d96a5;
  color: white;
  border: 1px solid #5d96a5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: white;
  color: #5d96a5;
  border: 1px solid #5d96a5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.eat-section {
  margin-top: 120px;
}

footer {
  background-color: #5d96a5;
}

footer h4 {
  color: white;
}

footer .social-links a {
  margin: 0 20px;
  color: #5d96a5;
  background-color: white;
  padding: 12px 16px 10px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: #5d96a5;
}

footer p {
  font-size: 20px;
  color: white;
}

footer .github-link a:visited {
  color: white;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 38px;
  }

  .navbar {
    padding-left: 16px;
    padding-right: 16px;
  }
}
