.hero {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/166/original/cover3.jpg?1722778520);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

body {
  font-family: "Abhaya Libre", serif;
}

.hero h1 {
  font-size: 98px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 48px;
}

p {
  font-size: 24px;
}

.btn-branding-outline {
  background-color: #5d96a5;
  color: white;
  border: 1px solid #5d96a5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background-color: white;
  color: #5d96a5;
  border: 1px solid #5d96a5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: #5d96a5;
  padding: 12px 14px 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #5d96a5;
  background-color: white;
}

footer p {
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 45px;
  }
}
